Repository gardener/gardener-extension-shoot-lakom-service, pull requests merged in 2023-07, with the labels that each got.

#24 Introduce persona-based docs
  .docforge/manifest.yaml
  .reuse/dep5
  docs/operations/deployment.md
Labels: kind/cleanup, reviewed/lgtm, needs/ok-to-test, size/xs

#22 Remove usage of policy/v1beta1 API
  charts/gardener-extension-shoot-lakom-service/templates/_versions.tpl
  charts/gardener-extension-shoot-lakom-service/templates/poddisruptionbudget.yaml
  charts/lakom/templates/_versions.tpl
  charts/lakom/templates/poddisruptionbudget.yaml
  example/controller-registration.yaml
  go.mod
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#19 Bootstrap seed with standalone installation of lakom admission controller
  Makefile
  charts/gardener-extension-shoot-lakom-service/templates/configmap-extension-config.yaml
  charts/gardener-extension-shoot-lakom-service/templates/deployment.yaml
  charts/gardener-extension-shoot-lakom-service/templates/rbac.yaml
  charts/gardener-extension-shoot-lakom-service/templates/service.yaml
  charts/gardener-extension-shoot-lakom-service/values.yaml
  cmd/gardener-extension-shoot-lakom-service/app/app.go
  cmd/gardener-extension-shoot-lakom-service/app/options.go
  example/00-config.yaml
  example/controller-registration.yaml
  go.mod
  go.sum
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/cmd/options.go
  pkg/constants/constants.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/seed/add.go
  pkg/controller/seed/reconciler.go
  pkg/controller/seed/reconciler_test.go
  pkg/controller/seed/secrets.go
  pkg/controller/seed/seed_suite_test.go
  pkg/controller/webhook/add.go
  pkg/controller/webhook/webhook.go
  vendor/github.com/coreos/go-systemd/v22/LICENSE
  vendor/github.com/coreos/go-systemd/v22/NOTICE
  vendor/github.com/coreos/go-systemd/v22/unit/deserialize.go
  vendor/github.com/coreos/go-systemd/v22/unit/escape.go
  vendor/github.com/coreos/go-systemd/v22/unit/option.go
  vendor/github.com/coreos/go-systemd/v22/unit/section.go
  vendor/github.com/coreos/go-systemd/v22/unit/serialize.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/certificates.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/reloader.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/handler.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/handler_shootclient.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/mutator.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/registration.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/remote_addr.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/shoot/networkpolicy.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/shoot/shoot.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/shoot/webhook.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/utils.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/validator.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/webhook.go
  vendor/github.com/gardener/gardener/pkg/healthz/checker.go
  vendor/github.com/gardener/gardener/pkg/healthz/default.go
  vendor/github.com/gardener/gardener/pkg/healthz/healthz.go
  vendor/github.com/gardener/gardener/pkg/healthz/informer.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/modules.txt
Labels: kind/api-change, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#27 Update golang to 1.20.6
  .test-defs/lifecycle.yaml
  Dockerfile
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#26 test: ensure fakeCacheResolver implements the Resolver interface
  pkg/lakom/resolvetag/resolver_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
