Repository gardener/gardener-extension-shoot-lakom-service, pull requests merged in 2023-10, with the labels that each got.

#41 Update golang to 1.21.3
  .test-defs/lifecycle.yaml
  Dockerfile
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#44 Keychain ignores missing secrets
  go.mod
  pkg/lakom/resolvetag/admission.go
  pkg/lakom/utils/utils.go
  pkg/lakom/utils/utils_test.go
  pkg/lakom/verifysignature/admission.go
  vendor/github.com/evanphx/json-patch/.gitignore
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/errors.go
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/k8s.io/client-go/testing/actions.go
  vendor/k8s.io/client-go/testing/fake.go
  vendor/k8s.io/client-go/testing/fixture.go
  vendor/k8s.io/client-go/testing/interface.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#46 Update the distroless base image to debian 12
  Dockerfile
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#33 Introduce the use of central manifest
  .docforge/manifest.yaml
  .reuse/dep5
  Makefile
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/s
