Repository gardener/gardener-extension-shoot-lakom-service, pull requests merged in 2024-10, with the labels that each got.

#106 Disable lakom via annotation from seed
  charts/gardener-extension-shoot-lakom-service/templates/configmap-extension-config.yaml
  example/controller-registration.yaml
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/seed/reconciler.go
Labels: area/ipcei, kind/api-change, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#113 Fix reuse findings
  .github/workflows/reuse-check.yaml
  .reuse/dep5
  charts/gardener-extension-shoot-lakom-admission/Chart.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/application/Chart.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/application/templates/rbac.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/application/templates/serviceaccount.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/Chart.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/rbac.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/secret-kubeconfig.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/service.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/serviceaccount.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-shoot-lakom-admission/values.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#114 Fix lakom permissions when extension is using scope=Cluster
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#115 Fix immutable RoleBinding.roleRef
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#116 Update dependencies and enable gosec for SAST scans
  .ci/hack/set_dependency_version
  .ci/pipeline_definitions
  .gitignore
  Makefile
  go.mod
  go.sum
  hack/sast.sh
  hack/update-codegen.sh
  pkg/controller/seed/add.go
  pkg/lakom/resolvetag/admission.go
  pkg/lakom/verifysignature/admission.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l, ci/broken-pipeline-definition
