Repository gardener/gardener-extension-shoot-lakom-service, pull requests merged in 2024-05, with the labels that each got.

#87 [GEP-19] Adapt monitoring configuration
  .ci/hack/component_descriptor
  .ci/hack/doc.go
  .ci/hack/prepare_release
  .ci/hack/set_dependency_version
  charts/gardener-extension-shoot-lakom-service/templates/rbac.yaml
  cmd/gardener-extension-shoot-lakom-service/app/app.go
  cmd/lakom/app/app.go
  example/controller-registration.yaml
  go.mod
  go.sum
  hack/cherry-pick-pull.sh
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
  pkg/controller/seed/reconciler_test.go
  pkg/lakom/resolvetag/admission_test.go
  pkg/lakom/verifysignature/admission_test.go
Labels: area/monitoring, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/l

#85 Update golang to 1.22.3
  .test-defs/lifecycle.yaml
  Dockerfile
Labels: needs/ok-to-test, needs/review, size/xs

#84 Change extension controller pod anti affinity to preferred
  charts/gardener-extension-shoot-lakom-service/templates/deployment.yaml
  example/controller-registration.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
