Repository gardener/gardener-extension-shoot-lakom-service, pull requests merged in 2024-02, with the labels that each got.

#70 Enable linter for `./test/...` and fix findings
  Makefile
  test/system/lifecycle/lifecycle_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#71 Make project reuse compliant
  .reuse/dep5
  README.md
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#73 Nit's and cosmetic changes
  .reuse/dep5
  CONTRIBUTING.md
  LICENSE
  LICENSES/Apache-2.0.txt
  LICENSES/CC-BY-4.0.txt
  pkg/admission/admission_suite_test.go
  pkg/admission/http.go
  pkg/admission/http_test.go
  pkg/lakom/utils/cosign_utils.go
Labels: area/ipcei, reviewed/lgtm, needs/ok-to-test, size/xl
