Repository gardener/gardener-extension-shoot-lakom-service, pull requests merged in 2024-07, with the labels that each got.

#93 Skaffold for local deployment
  Makefile
  README.md
  charts/gardener-extension-shoot-lakom-service/templates/configmap-extension-config.yaml
  charts/gardener-extension-shoot-lakom-service/templates/deployment.yaml
  charts/gardener-extension-shoot-lakom-service/values.yaml
  charts/images.yaml
  charts/lakom/templates/deployment.yaml
  charts/lakom/values.yaml
  cmd/lakom/app/app.go
  example/00-config.yaml
  example/controller-registration.yaml
  example/kustomization.yaml
  hack/api-reference/config.md
  hack/check-skaffold-deps.sh
  hack/skaffold-imagevector.sh
  hack/tools.mk
  local-setup/kustomization.yaml
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
  pkg/controller/seed/reconciler.go
  pkg/controller/seed/reconciler_test.go
  pkg/lakom/resolvetag/admission.go
  pkg/lakom/resolvetag/admission_test.go
  pkg/lakom/resolvetag/resolver_test.go
  pkg/lakom/verifysignature/admission.go
  pkg/lakom/verifysignature/verifier.go
  pkg/lakom/verifysignature/verifier_test.go
  skaffold.yaml
Labels: kind/api-change, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/l

#99 Add support for RSASSA-PSS scheme
  Makefile
  README.md
  charts/gardener-extension-shoot-lakom-service/values.yaml
  charts/lakom/templates/_helpers.tpl
  charts/lakom/templates/configmap-lakom-config.yaml
  charts/lakom/templates/deployment.yaml
  charts/lakom/values.yaml
  cmd/lakom/app/app.go
  config/lakom/tls/ca-csr.json
  config/lakom/tls/server-config.json
  docs/operations/deployment.md
  docs/usage/lakom.md
  docs/usage/shoot-extension.md
  example/00-config.yaml
  example/controller-registration.yaml
  example/kustomization.yaml
  go.mod
  hack/api-reference/config.md
  hack/generate-cosign-key-pair.sh
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
  pkg/controller/seed/reconciler.go
  pkg/controller/seed/reconciler_test.go
  pkg/lakom/config/config.go
  pkg/lakom/config/types.go
  pkg/lakom/verifysignature/admission.go
  pkg/lakom/verifysignature/admission_test.go
  pkg/lakom/verifysignature/verifier.go
  pkg/lakom/verifysignature/verifier_test.go
  skaffold.yaml
Labels: area/ipcei, kind/api-change, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#98 Publish Helm charts as OCI artifacts
  .ci/pipeline_definitions
  charts/gardener-extension-shoot-lakom-service/templates/deployment.yaml
  charts/gardener-extension-shoot-lakom-service/values.yaml
  example/controller-registration.yaml
  example/kustomization.yaml
  hack/skaffold-image.sh
  hack/skaffold-imagevector.sh
  local-setup/.gitignore
  local-setup/kustomization.yaml
  skaffold.yaml
Labels: area/delivery, kind/enhancement, reviewed/lgtm, needs/ok-to-test, needs/review, size/m

#101 Update go to 1.22.5
  .test-defs/lifecycle.yaml
  Dockerfile
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
