Repository gardener/gardener-extension-shoot-lakom-service, pull requests merged in 2024-09, with the labels that each got.

#109 Update github.com/gardener/gardener to v1.103.0
  .ci/hack/component_descriptor
  charts/gardener-extension-shoot-lakom-service/templates/rbac.yaml
  example/controller-registration.yaml
  go.mod
  go.sum
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
  pkg/controller/seed/reconciler.go
  pkg/controller/seed/reconciler_test.go
  pkg/imagevector/imagevector.go
  skaffold.yaml
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#108 Migrate away from deprecated golangci config option
  .golangci.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs

#110 Reduce resource demands of lakom container
  charts/lakom/templates/vpa.yaml
  charts/lakom/values.yaml
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
  pkg/controller/seed/reconciler.go
  pkg/controller/seed/reconciler_test.go
Labels: needs/ok-to-test, needs/review, size/s

#103 Scope based verification
  .ci/pipeline_definitions
  Dockerfile
  Makefile
  charts/gardener-extension-shoot-lakom-admission/.helmignore
  charts/gardener-extension-shoot-lakom-admission/Chart.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/application/Chart.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/application/templates/_helpers.tpl
  charts/gardener-extension-shoot-lakom-admission/charts/application/templates/rbac.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/application/templates/serviceaccount.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/application/values.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/Chart.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/_helpers.tpl
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/rbac.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/secret-kubeconfig.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/service.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/serviceaccount.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/values.yaml
  charts/gardener-extension-shoot-lakom-admission/templates/_helpers.tpl
  charts/gardener-extension-shoot-lakom-admission/values.yaml
  cmd/gardener-extension-shoot-lakom-admission/app/app.go
  cmd/gardener-extension-shoot-lakom-admission/main.go
  cmd/gardener-extension-shoot-lakom-service/app/app.go
  docs/usage/shoot-extension.md
  hack/api-reference/config.md
  hack/check-skaffold-deps.sh
  hack/skaffold-image.sh
  hack/skaffold-imagevector.sh
  hack/update-codegen.sh
  local-setup/kustomization.yaml
  pkg/admission/validator/lakom/lakom_suite_test.go
  pkg/admission/validator/lakom/shoot.go
  pkg/admission/validator/lakom/webhook.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/lakom/doc.go
  pkg/apis/lakom/register.go
  pkg/apis/lakom/types.go
  pkg/apis/lakom/v1alpha1/defaults.go
  pkg/apis/lakom/v1alpha1/doc.go
  pkg/apis/lakom/v1alpha1/register.go
  pkg/apis/lakom/v1alpha1/types.go
  pkg/apis/lakom/v1alpha1/zz_generated.conversion.go
  pkg/apis/lakom/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/lakom/v1alpha1/zz_generated.defaults.go
  pkg/apis/lakom/zz_generated.deepcopy.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
  skaffold.yaml
Labels: area/ipcei, kind/api-change, reviewed/lgtm, needs/ok-to-test, size/xl
