Repository gardener/gardener-extension-shoot-lakom-service, pull requests merged in 2024-03, with the labels that each got.

#75 Update cosign tool to v2.2.3
  hack/tools.mk
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, size/xs

#72 Update 3rd parties
  go.mod
  go.sum
  pkg/lakom/verifysignature/verifier.go
  pkg/lakom/verifysignature/verifier_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#63 Adapt PDBs to use `unhealthyPodEvictionPolicy: AlwaysAllow`
  charts/gardener-extension-shoot-lakom-service/templates/poddisruptionbudget.yaml
  charts/lakom/templates/poddisruptionbudget.yaml
  example/10-fake-shoot-controlplane.yaml
  example/controller-registration.yaml
  go.mod
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
  pkg/controller/seed/add.go
  pkg/controller/seed/reconciler.go
  pkg/controller/seed/reconciler_test.go
Labels: kind/cleanup, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#74 Lakom uses warning instead of failure policy `Ignore`
  .reuse/dep5
  charts/gardener-extension-shoot-lakom-service/templates/configmap-extension-config.yaml
  charts/gardener-extension-shoot-lakom-service/values.yaml
  charts/lakom/templates/deployment.yaml
  charts/lakom/templates/mutatingwebhookconfiguration.yaml
  charts/lakom/templates/validatingwebhookconfiguration.yaml
  charts/lakom/values.yaml
  cmd/lakom/app/app.go
  example/00-config.yaml
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/admission/admission_suite_test.go
  pkg/admission/http.go
  pkg/admission/http_test.go
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
  pkg/controller/seed/add.go
  pkg/controller/seed/reconciler.go
  pkg/controller/seed/reconciler_test.go
  pkg/lakom/verifysignature/admission.go
  pkg/lakom/verifysignature/admission_test.go
Labels: kind/api-change, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl
