Repository gardener/gardener-extension-shoot-lakom-service, pull requests merged in 2025-01, with the labels that each got.

#112 Allow use of client public keys
  docs/usage/lakom.md
  docs/usage/shoot-extension.md
  hack/api-reference/config.md
  pkg/admission/validator/lakom/shoot.go
  pkg/apis/lakom/types.go
  pkg/apis/lakom/v1alpha1/types.go
  pkg/apis/lakom/v1alpha1/zz_generated.conversion.go
  pkg/apis/lakom/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/lakom/zz_generated.deepcopy.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
  pkg/lakom/config/config.go
  pkg/lakom/config/config_suite_test.go
  pkg/lakom/config/config_test.go
  skaffold.yaml
Labels: kind/api-change, needs/ok-to-test, needs/rebase, needs/changes, needs/review, needs/second-opinion, size/l

#127 Skaffold Fix
  skaffold.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#132 Forbid container privilege escalations
  charts/gardener-extension-shoot-lakom-admission/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-shoot-lakom-service/templates/deployment.yaml
  charts/lakom/templates/deployment.yaml
  example/10-fake-shoot-controlplane.yaml
  example/controller-registration.yaml
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/actuator_test.go
  pkg/controller/seed/reconciler.go
  pkg/controller/seed/reconciler_test.go
Labels: area/compliance, area/security, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
